<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">

<body>
	<section>
		<div class="myCard m-4 mt-0">
     <div class="card-body">
       <h1 class="text-center">update Contact</h1>
        <div class="container-fluid-mt-1">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              
                <form th:action="@{/Normal/updateContact}" method="POST" th:object="${contact}" enctype="multipart/form-data" class="mt-2">
					
					 <input type="hidden" name="cid" th:value="${contact.cid}">
					  <input type="hidden" name="image" th:value="${contact.image}">
					 
                  <div class="input-group flex-nowrap ">
                    <div class="input-group-prepend ">
                        <div class="input-group-text " id="addon-wrapping"><i class="fa fa-plus p-1"></i></div>
                    </div>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" th:value="${contact.name }" aria-describedby="addon-wrapping">
                  </div>
                  
                  <div class="input-group flex-nowrap mt-4">
                    <div class="input-group-prepend ">
                        <div class="input-group-text " id="addon-wrapping"><i class="fa fa-plus p-1"></i></div>
                    </div>
                    <input type="text" class="form-control " name="nickName" placeholder="Enter Nickname" th:value="${contact.nickName }" aria-label="Nickname" aria-describedby="addon-wrapping">
                  </div>
                  
                  <div class="input-group flex-nowrap mt-4">
                    <div class="input-group-prepend ">
                        <div class="input-group-text " id="addon-wrapping"><i class="fa fa-plus p-1"></i></div>
                    </div>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone number" th:value="${contact.phone }"  aria-describedby="addon-wrapping">
                  </div>
                  
                  <div class="input-group flex-nowrap mt-4">
                    <div class="input-group-prepend ">
                        <div class="input-group-text " id="addon-wrapping"><i class="fa fa-plus p-1"></i></div>
                    </div>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email" th:value="${contact.email }" aria-describedby="addon-wrapping">
                  </div>

                  <div class="input-group flex-nowrap mt-4">
                    <div class="input-group-prepend ">
                        <div class="input-group-text " id="addon-wrapping"><i class="fa fa-plus p-1"></i></div>
                    </div>
                    <input type="text" class="form-control" name="work" placeholder="Enter Work" th:value="${contact.work }" aria-describedby="addon-wrapping">
                  </div>
                  
                  <div class="form-group  mt-4">
                    <textarea id="mytextarea" name="description" placeholder="Enter contact description" th:text="${contact.Description}" rows="5" class="form-control"></textarea>
                  </div>

                  <div class="custom-file mt-3">
					  <img style="width: 100px; border-radius: 50%;" th:src="@{'/images/Contacts/'+${contact.image}}"/>
					  <p>Choose new photo</p>
                    <input type="file" name="profileimage"  >
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Update Contact</button>
                  </div>

                </form>

            </div>
          </div> 
       </div>
     </div>
   </div>
   	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

	</section>
</body>
</html>