<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 mt-4">
					<div class=" myCard">
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-success" role="alert" >
							<span th:text="${session.message.content}"></span>
							<span th:text="${@removeSession.removeMessage()}"></span>
						</div>
						<div class="container text-center">
     							<img style="width:70px;" th:src="@{/images/icon/SignIn.png}">
     						</div>
						<h1 class="text-center">Sign-In Here !!</h1>
						<form th:action="@{/signIn}" method="post" class="col-md-10 offset-md-1">
							
							<div class="form-group">
    							<label for="email">Email</label>
   							 	<input type="email" name="username" class="form-control" id="email" aria-describedby="	emailHelp" required >
     						</div>
							<div class="form-group">
    							<label for="password">Password</label>
   							 	<input type="password" name="password" class="form-control" id="password" aria-describedby="	emailHelp" required >
     						</div>
						     						
     						<div class="container text-center p-2">
     							<button type="Submit" class="btn bg-green text-white" >Login</button>
     						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>